<div id="centerScreen">
  <div id="loginBox">


  <%= form_for @venue, :html => {:multipart => true} do |f| %>

    <fieldset class="form-group">
      <%= f.label :title %><br>
      <%= f.text_field :title, class: "form-control" %>
    </fieldset>

    <fieldset class="form-group">
      <%= f.label "Hosted by" %><br>
      <%= f.text_field :visited, class: "form-control" %>
    </fieldset>

    <fieldset class="form-group">
      <%= f.label :address, 'Address' %><br>
      <%= f.text_field :address, class: "form-control" %>
    </fieldset>

    <fieldset class="form-group">
      <%= f.label :address, 'Geo Locating Address' %>
      <%= f.text_field :address, class: "form-control" %>
      <br><small class="text-muted">Or to use your devices current location type ->  <%= request.ip %></small>
    </fieldset>

    <%= f.label 'Venue Image: ' %>
    <%= f.cl_image_upload :image %>

    <br>

    <%= f.submit 'Add!', class: 'btn btn-primary' %>


  <% end %>
</div>
</div>
