<header><h1 class="display-4">Places</h1></header>

<%= link_to 'Add venue', new_venue_path, class: 'btn btn-primary btn-lg' %>

<div class="card">
  <div class="card-block">
    <% @venue.each do |venue| %>
      <h3><%= venue.title %>
      <br>
      Hosted by: <%= venue.visited_by %>
      <br>
      Located at: <%= venue.address %>
      <br>
        - Created at <%= venue.created_at %></h3>
      <hr>
    <% end %>
  </div>
</div>
