<div id="centerScreen">

  <header><h1 class="display-4">Recently Signed Up Venues</h1>
  </header>

  <h1><%= link_to '-Add venue-', new_venue_path, class: 'btn btn-primary btn-lg' %></h1>
  <hr>

  <div class="card">
    <div class="card-block">
      <% @venue.each do |venue| %>
        <h3><%= venue.title %>
        <br>
        Hosted by: <%= venue.visited %>
        <br>
        Located at: <%= venue.address %>
        <br>
        Venue added on: <%= venue.created_at %></h3>
        <br>
        <hr>
      <% end %>
    </div>
  </div>

</div>
