<!DOCTYPE html>
<html>
  <%= cloudinary_js_config %>
  <div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

    <% if @current_user.present? %>
      Welcome, <%= @current_user.name %>
      <% if @current_user.admin? %>
      (Admin Level Account)
    <% end  %>

    <div id="divLogout"><%= link_to '-Logout', login_path, method: 'delete' %></div>
    <div id="divAboutUs"><%= link_to '-About Us', about_path %></div>
    <div id="divViewVenues"><%= link_to '-View Venues', venue_index_path %></div>
    <div id="divEventsNearMe"><%= link_to '-Events Near Me', map_path %></div>

    <% else %>
      <div id="divLogin"><%= link_to '-Login', login_path %></div>
      <div id="divSignUp"><%= link_to '-Sign Up', new_user_path %></div>
      <div id="divAboutUs"><%= link_to '-About Us', about_path %></div>
      <div id="divViewVenues"><%= link_to '-View Venues', venue_index_path %></div>
    <% end %>
  </div>

  <div id="main">
    <button class="openbtn" onclick="openNav()">&#9776;</button>
  </div>
  <head>
    <title>Lockout Nightlife</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Gelasio&display=swap" rel="stylesheet">
  </head>

  <body>
    <div id="centerScreen">
      <%= cl_image_tag("https://res.cloudinary.com/yancloud/image/upload/v1582772586/samples/logo_lockout.png", :alt => "rss feed") %>
    </div>

    <%= yield %>
    <footer id='footer'>
      <p>-Lockout Nightlife-</p>
    </footer>
  </body>

</html>
